.header{
    text-align: center;
}
.main {
   display: inline-flex;
   justify-content: space-between; 
   width: auto;
   flex-wrap: wrap;
   /* padding-left: 20px; */
   padding: 0 50px;
}
.col-1,
.col-2,
.col-3{
   width: 32%;
   border: 1px solid black;
   background-color: #007ACC;   
}


.paragraph {
    padding: 10px;
    color: white;
    line-height: 20px;
    font-size: 16px;
}

.btn-container{
    float: right;
}

.btn{
    padding: 2px 20px;
    color: black;
    background-color: white;
    border-top: 2px;
    border-color: black;
}

@media (min-width: 768px) and (max-width: 991px){
    .col-1 {
        width: 47%;
    }
    .col-2 {
        width: 47%;
    }
    .col-3{
        width: 100%;
        margin-top: 20px;
    }
}
@media  (max-width: 767px){
    .col-1,
    .col-2,
    .col-3 {
        width: 100%;
        margin-top: 20px;
    }
    
}